body{
	font-family:  Arial;
	text-align:   left;
	max-width: 600px;
	min-width: 300px;
}

h1{
	font-size: 3em; 
}

.section{


	margin-bottom: 100px;
}

.section h2{

	font-size: 2em;

}
.section p{
	margin:10px;
	min-width: inherit;
	max-width:    inherit;
}

#nav li{
	display: inline;
	list-style-type: none;	
}

#nav li a{
	text-decoration: none;
}
