body{
	font-family:  Arial;
	text-align:   left;
	min-width:    300px;
	max-width:    600px;
}

h1{

	font-size: 3em; 

}
.section h2{
	font-size: 2em;
}
.section p{
	margin:10px;
}

#nav li{
	display: inline;
	list-style-type: none;	
}

#nav li a{
	text-decoration: none;
}
