.entry-content{
    max-width: 550px;
    margin: auto;
}
.center-content-border{
    width: 90%;
    overflow-y: auto;
}

.center-content h1{
    font-size: 3em;
}

@media (min-width: 768px){
    .center-content-border{
        width: 90%;
    }
    .new-post{
        margin: 2em 0px 2em 0px;
    }

}